@import "reset";


h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.4rem;
}
.app-container {
  display: flex;
  flex-flow: row wrap;
}

