mat-select {
  padding: 0.5rem 2rem;
  border: 1px solid #979797;
  border-radius: 3px;
  width: 300px !important;
}
max-select-value {
  color: #303030 !important;
}
p {
  font-family: 'Helvetica', sans-serif;
  padding: 1rem;
}

.rep-button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: #fff;
  color: #303030;
  border: 1px solid #979797;
  border-radius: 3px;
  &:hover {
    background-color: #666;
    color: #fff;
  }
  &.active {
    color: #fff;
    background-color: #303030;
  }
}

.rep-filter {
  height: 60px;
}
