
<mat-card *ngIf="rep.show" class="rep-card">

  <div class="rep-watermark {{rep.party | lowercase }}">{{ rep.party | firstLetter }}</div>
  <mat-card-title>
    <h2>{{rep.first_name}} {{rep.last_name}}</h2>
  </mat-card-title>
  <mat-card-subtitle>
    <h4>District {{rep.district}} from {{rep.state}}</h4>
  </mat-card-subtitle>
  <mat-card-content>
    <p>{{rep.total_contributions | currency }}</p>
  </mat-card-content>
  <!-- <mat-card-actions>
  <button mat-button>EXPAND</button>
</mat-card-actions> -->
</mat-card>
