.mat-card {
  background-color: #fff;
  color: #424242;
  padding: 0.5rem !important;
  width: 160px;
  height: 150px;
  position: relative;
  margin: 0.5rem;
  position: relative;
  padding: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  .rep-watermark {
    font-size: 6rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    opacity: 0.15;
    color: #ababab;
    &.r {
      color: #F90808;
    }
    &.d {
      color: #007EFF;
    }
  }
  .mat-card-content {
    margin-bottom: 5px;
  }
  .mat-card-actions {
    position: absolute;
    bottom: 1rem;
    right: 16px;
  }
  &.expanded {
    width: 340px;
    height: auto;
  }
}


.mat-card-subtitle {
  color: #424242;
}



@media screen and (max-width: 800px) {
  .mat-card {
    width: 150px;
    &.expanded {
      width: 300px;
    }
  }
}
