<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    \ Money Matters
  </h1>
  <h3></h3>
</div>
<article class="app-container">

  <section class="rep-list">
    <div class="rep-filter">
      <app-rep-filter (filterChanged)="applyFilters($event)"></app-rep-filter>
    </div>
    <app-rep-list [reps]="reps"></app-rep-list>
  </section>
  <section class="rep-chart">
    <app-rep-chart [reps]="reps" 
                  [dataAvailable]="dataAvailable">
                      
    </app-rep-chart>
  </section>

</article>