.app-component {
  display: flex;
  flex-flow: row wrap;
}
header[role="banner"] {
  position: absolute;
  padding: 1rem;
  text-align: right;
  right: 1rem;
}
header[role="banner"] h1 {
  font-size: 4rem;
  line-height: 1.4;
  color: #303030;
}
header[role="banner"] h3 {
  color: #303030;
}
