<!--The content below is only a placeholder and can be replaced.-->
<header role="banner">
  <h1>
    \ MoneyMatters
  </h1>
  <h3>See how money influences the US Congress.</h3>
</header>
<article class="app-container">

  <section class="mm-left">
    <div class="rep-filter">
      <app-rep-filter (filterChanged)="applyFilters($event)"
          [bills_list]="bills"
          [money_max]="max_money_filter">
            
          </app-rep-filter>
    </div>
    <app-rep-list [reps]="reps"></app-rep-list>
  </section>
  <section id="mm-right" class="mm-right rep-chart">
    <graph [nodes]="nodes" [links]="links" [dataAvailable]="dataAvailable"
    [dataPromise]="p"></graph>

     <!-- <app-rep-chart [reps]="reps"
                  [dataAvailable]="dataAvailable">  -->

    <!-- </app-rep-chart> -->
  </section>

</article>
